.amount-element {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.amount-element input {
  margin-right: 20px;
  border: none;
  padding: 10px 14px;
  border-radius: 4px;
  box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px, rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
}
